.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-right: 20px;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  max-width: 353px;
}
.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete_default.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete_hover.svg);
}

.card__like-btn {
  background-image: url(../images/like_icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: 0.3s ease;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/like_active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}