.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121b2;
}

.profile__edit-btn {
  color: #212121;
  margin-top: auto;
  opacity: 70%;
  gap: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  width: 149px;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  gap: 8px;
  padding: 0;
  color: #fcf3e5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.profile__add-btn:hover {
  opacity: 0.7;
}

/* Mobile */
@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__title {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__edit-btn {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    line-height: 100%;
    font-size: 16px;
  }
}
