.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
  justify-content: center;
  gap: 40px 20px;
  max-width: 100%;
}

@media (max-width: 630px) {
  .cards__list {
    grid-template-columns: minmax(288px, 1fr);
    gap: 20px;
    padding: 0 16px;
  }
  .cards {
    padding-bottom: 20px;
    width: 100%;
  }
}