.modal {
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 0.4;
  background: url(../images/closeIcon_dark.svg) no-repeat center;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background: url(../images/close_white.svg) no-repeat center;
}

.modal__close-btn_type_preview:hover {
  background: url(../images/close_white.svg) no-repeat center;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;

}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: block;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #212121;
  cursor: pointer;
  opacity: 30%
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input_type_error {
  border: 1px solid #FF0000;
  opacity: 0.6;
}

.modal__error {
  display: none;
  margin-top: 8px;
  color: #FF0000;
  font-size: 16px;
  opacity: 0.7;
}

.modal__error_visible {
  display: block;
}

.modal__submit-btn {
  background: #212121;
  color: #FFFFFF;
  width: 156px;
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
  background: #212121;
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  background: #212121;
  opacity: 0.5;
  cursor: default;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  border-radius: 8px;
  position: absolute;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__form {
    width: 100%;
  }

  .modal__submit-btn {
    width: 100%;
    padding: 18px 32px;
    font-size: 16px;
  }
}