.page {
  background-color: #fcf3e5;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

.page_is-loading .profile,
.page_is-loading .cards {
  visibility: hidden;
}