.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  inset: 0;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  visibility: hidden;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 0 12px 12px;
  transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  font-size: 16px;
  color: #fcf3e5;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 12px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__pencil-icon {
  width: 18px;
  margin-right: 8px;
  gap: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121b2;
}

.profile__edit-btn {
  color: #212121;
  margin-top: auto;
  opacity: 0.7;
  gap: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  width: 149px;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  gap: 8px;
  padding: 0;
  color: #fcf3e5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.profile__add-btn:hover {
  opacity: 0.7;
}

/* Mobile */
@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    background-color: transparent;
    opacity: 0;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar-container:hover .profile__avatar-btn {
    visibility: visible;
    opacity: 1;
  }

  .profile__pencil-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 5px;
    right: 5px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    margin: 0;
  }

  .profile__pencil-icon:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__title {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__edit-btn {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    line-height: 100%;
    font-size: 16px;
  }
}
